# Created by .ignore support plugin (hsz.mobi)
### Scala template
.idea/                                                                                                                                                                                                          
target/
.DS_Store
.vscode/
_build/
